
import(gWidgets)
import(stats)
import(utils)

## latticist.R
export(latticist)

## latticistCompose.R
export(latticistCompose,
       reorderByFreq,
       cutEq,
       try.prepanel.loess,
       n.level.colors,
       simpleColorKey)

## latticeStyleGUI.R
export(latticeStyleGUI)

## latticeStyleDemo.R
expot(latticeStyleDemo)

## custom.theme.black.R
export(custom.theme.black,
       custom.theme.2)

## latticeStyleToBasePar.R
export(latticeStyleToBasePar)

## panel.misc.R
export(panel.usertext,
       panel.brushpoints,
       panel.brushlines)

## options.R
export(latticist.options,
       latticist.getOption)

